.app-commandBar {
    flex: 0 0 auto;
    height: 36px;
    width: 100%;
    border-top: 1px solid $main_accent;
    display: flex;
    background-color: $main_color;

    .command-input {
        flex: 1 1 auto;
        margin: 2px;
        border: none;
        padding: 3px 9px;
        font-size: 12pt;
        color: white;
        background: none;

        &::-webkit-input-placeholder {
            color: rgba(255,255,255,0.5);
        }
    }

    .btn-run-command {
        flex: 0 1 auto;
        margin: 2px;
        margin-left: 0px;
        color: white;
        background-color: rgba(255,255,255,0.2);
        font-size: 14pt;
        border: none;
        cursor: pointer;
        transition: 0.1 ease-in-out all;

        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
}
