.app-commandBar {
    flex: 0 0 auto;
    height: 36px;
    width: 100%;
    display: flex;
    background-color: $main_color;

    .command-input {
        flex: 1 1 auto;
        margin: 2px;
        border: none;
        padding: 3px 9px;
        font-size: 12pt;
        color: white;
        background: none;

        &::-webkit-input-placeholder {
            color: rgba(255,255,255,0.5);
        }
    }

    .btn-run-command {
        flex: 0 1 auto;
        margin: 2px;
        margin-left: 0px;
        color: white;
        background-color: rgba(255,255,255,0.2);
        font-size: 14pt;
        border: none;
        cursor: pointer;
        transition: 0.1 ease-in-out all;

        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
}

.app-autosuggest {
    position: absolute;
    bottom: 36px;
    left: 0px;
    width: 100%;
    max-height: 200px;
    background: rgba(240,240,240,0.8);
    border-top: 2px solid $main_color;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;

    .app-autosuggest-suggestion {
        cursor: pointer;
        font-size: 11pt;
        padding: 3px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &.selected, &:hover {
            background-color: $main_accent;
            color: white;

            b {
                border-bottom: 1px dotted white;
            }
        }
    }
}

.app-autosuggest-eater {
    width: 100%;
    height: calc(100% - 36px);
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(50,50,50,0.15);
    cursor: pointer;
    z-index: 50;
}
