.app-header {
    width: 100%;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $main_color;
    flex: 0 0 auto;

    div {
        display: flex;
        transition: 0.1s ease-in-out all;
        padding: 4px;
        height: 100%;
        flex-direction: row;
        align-items: center;
    }

    .hover-bg:hover {
        background-color: rgba(255,255,255,0.2);
        cursor: pointer;
    }

    .app-cwd {
        flex: 1 1 auto;
    }

    .app-cwd-bar {
        background-color: rgba(255,255,255,0.2);
        padding: 3px 6px;
        color: white;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .app-logo, .app-header-options {
        flex: 0 0 auto;
        color: white;
        font-size: 18pt;
        font-weight: 600;
        padding: 0px 8px;
    }
}

// Stuff for flyouts
.app-flyout {
    position: absolute;
    z-index: 100;
    border: 1px solid $main_color;
    background: white;
    padding: 8px;
}

.click-eater {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(50,50,50,0.15);
    cursor: pointer;
    z-index: 50;
}
