/* TERM.JS TERMINALS */
.terminal {
  width: auto;
  border: #000 solid 5px;
  font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
  font-size: 11px;
  color: #f0f0f0;
  background: #000;
}

.terminal-cursor {
  color: #000;
  background: #f0f0f0;
}

/* CONSOLES */
.app-consoles {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    padding: 4px;
}

.app-console {
    border: 1px solid $main_accent;
    margin-bottom: 4px;

    .term {
        overflow: hidden;
        background: black;
    }
}

.app-console-header {
    background: $main_accent;
    color: white;
    font-size: 11pt;
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.app-console-wrapper.short {
    height: 4px;
    overflow: hidden;
}

.app-console-command {
    flex: 1 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.app-console-options {
    flex: 0 0 auto;

    div {
        opacity: 0.5;
        transition: 0.1s ease-in-out all;
        padding-left: 2px;
        padding-right: 2px;
        font-size: 10pt;
        display: inline-block;
    }

    div:hover {
        opacity: 1.0;
        cursor: pointer;
    }
}

.app-console-footer {
    height: 3px;
    cursor: row-resize;
    background-color: $main_accent;
    text-align: center;
}

@keyframes running-indicator {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.app-console-indicator {
    padding-right: 6px;
    flex: 0 0 auto;

    &.icon-error {
        color: red;
    }

    &.icon-success {
        color: green;
    }

    &.icon-running {
        color: rgba(255,255,255,0.8);
        animation-name: running-indicator;
        animation-iteration-count: infinite;
        animation-duration: 0.75s;
        transform-origin: 7.5px 50%;
        animation-timing-function: linear;
    }
}
