html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    border: none;
    font-family: "Arial", sans-serif;
    background-color: #FFFDD5;
}

* {
    box-sizing: border-box;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

/* OVERALL LAYOUT */
.nextterm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

/* TERM.JS TERMINALS */
.terminal {
  width: auto;
  border: #000 solid 5px;
  font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
  font-size: 11px;
  color: #f0f0f0;
  background: #000;
}

.terminal-cursor {
  color: #000;
  background: #f0f0f0;
}

/* HEADER */
.app-header {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ff960a;
    border-bottom: 1px solid #bb6800;
    flex: 0 0 auto;
}

.app-header div {
    display: flex;
    transition: 0.1s ease-in-out all;
    padding: 4px;
    height: 100%;
    flex-direction: row;
    align-items: center;
}

.app-header .hover-bg:hover {
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}

.app-header .app-cwd {
    flex: 1 1 auto;
}

.app-header .app-cwd-bar {
    background-color: #FFB655;
    border-radius: 3px;
    padding: 3px 6px;
    color: #b63400;
    cursor: pointer;
}

.app-header .app-logo, .app-header .app-header-options {
    flex: 0 1 auto;
    color: #b63400;
    font-size: 18pt;
    font-weight: 800;
    padding-left: 12px;
    padding-right: 12px;
}

/* CONSOLES */
.app-consoles {
    flex: 1 1 auto;
    overflow: auto;
    width: 100%;
    padding: 4px;
}

.app-console {
    border: 1px solid orange;
    margin-bottom: 4px;
}

.app-console-header {
    background: orange;
    color: white;
    font-size: 12pt;
    padding: 3px;
}

/* COMMAND BAR */
.app-commandBar {
    flex: 0 0 auto;
    height: 40px;
    width: 100%;
    background-color: #ffb655;
    border-top: 1px solid #bb6800;
    display: flex;
}

.app-commandBar .command-input {
    flex: 1 1 auto;
    margin: 2px;
    border: none;
    border-bottom: 1px solid #b66800;
    padding: 3px 9px;
    font-size: 14pt;
    color: #b63400;
    background: none;
}

.app-commandBar .btn-run-command {
    flex: 0 1 auto;
    margin: 2px;
    margin-left: 0px;
    color: white;
    background-color: #007D47;
    border-radius: 3px;
    font-size: 14pt;
    border: none;
    cursor: pointer;
}
